ion-title{
    text-align: center;
    padding: 18px 0px;
    font-size: 30px;
}

p{
    text-align: center;
}

#loginForm {
    padding: 10px;
    /* border: 2px solid burlywood; */
    border-radius: 5px;
    margin: 10px;
}

#loginBtn {
    text-align: center;
    margin: 15px auto;
}

#linkText {
    margin: 10px 5px;
    text-align: center;
}