<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Modules
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modules</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let module of modules; let i = index">
      <img src={{images[i]}}>
      <ion-card-header>
        <ion-card-title>{{module.moduleName}}</ion-card-title>
        <ion-card-subtitle>Module No: {{module.moduleNo}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <strong>Credits:</strong> {{module.credits}} <br>
        <strong>Due Date:</strong> {{module.dueDate}} <br>
        <strong>Location:</strong> {{module.room}} {{module.location}} <br>
        <strong>Website:</strong> {{module.website}} <br>
        <span *ngIf='module.Enrolled == 0; else enrolled'>
          <ion-button #notEnrolled size="small" strong="true" color="primary" (click)="enrol($event, module.moduleNo)">Enroll Now</ion-button>
        </span>
        <ng-template #enrolled>
          <ion-button #enrolled size="small" strong="true" color="primary" disabled="true">Enrolled</ion-button>
        </ng-template>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>